<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>24Architecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBF68E581F92758300806ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF68E711F92758400806ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF68E7C1F92758400806ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
